<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2" >
            <br><br>
    <h3>Create a new listing</h3>
    <form action="/listing" method="post" novalidate class="needs-validation" >
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Title" class="form-control" required >
            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please Enter a Title!
              </div>
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Description" class="form-control" required></textarea>
            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please Enter Description!
              </div>
        </div>


        <div class="mb-3">
          <label for="image" class="form-label">Image Url</label>
          <input type="text" name="listing[image]"  placeholder="Image Url" class="form-control" required>
          <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please Enter a valid Link!
            </div>


              <!-- <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input type="file" name="listing[image]"   class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please Enter a valid Link!
                  </div> -->
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" placeholder="Price" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please Enter Price!
                  </div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">country</label>
                <input type="text" name="listing[country]" placeholder="country" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please Enter Country Name!
                  </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="Location" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please Enter valid Location!
              </div>
        </div>
        <br><br>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
</div>
</div>
</body>
